{#
/**
 * @file
 * Paragraph template: Statistic Item (cpg_stat_item)
 * Fields: field_p_title (label), field_p_icon (value/number), field_p_body (description)
 */
#}
{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    'cpg-paragraph-stat-item',
  ]
%}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% if content.field_p_icon|render|striptags|trim %}
      <div class="cpg-paragraph-stat-item__value">{{ content.field_p_icon|render|striptags|trim }}</div>
    {% endif %}
    {% if content.field_p_title|render|striptags|trim %}
      <div class="cpg-paragraph-stat-item__label">{{ content.field_p_title }}</div>
    {% endif %}
    {% if content.field_p_body|render|trim %}
      <div class="cpg-paragraph-stat-item__desc">{{ content.field_p_body }}</div>
    {% endif %}
  </div>
{% endblock paragraph %}
