{#
/**
 * @file
 * Paragraph template: Call to Action (cpg_cta)
 * Fields: field_p_title, field_p_body, field_p_link
 */
#}
{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    'cpg-paragraph-cta',
  ]
%}
{% block paragraph %}
  <section{{ attributes.addClass(classes) }}>
    <div class="cpg-paragraph-cta__content">
      {% if content.field_p_title|render|striptags|trim %}
        <h2 class="cpg-paragraph-cta__title">{{ content.field_p_title }}</h2>
      {% endif %}
      {% if content.field_p_body|render|trim %}
        <div class="cpg-paragraph-cta__body">{{ content.field_p_body }}</div>
      {% endif %}
      {% if content.field_p_link|render|trim %}
        <div class="cpg-paragraph-cta__action">{{ content.field_p_link }}</div>
      {% endif %}
    </div>
  </section>
{% endblock paragraph %}
