<div class="sitemap-container sitemap-container--grid">
  <div class="sitemap-grid">
    {% for key, item in content.field_p_items %}
      {% if key|first != '#' %}
        {{ item }}
      {% endif %}
    {% endfor %}
  </div>
</div>
