<div class="cpg-newsletter-block">
  <h3 class="cpg-newsletter-block__title">{{ title|default('Stay Informed') }}</h3>
  <p class="cpg-newsletter-block__desc">{{ description|default('Get the latest CPG news delivered to your inbox') }}</p>
  <form action="#" class="cpg-newsletter-block__form">
    <input type="email" placeholder="Your email address" class="cpg-newsletter-block__input" required>
    <button type="submit" class="subscribe-button cpg-newsletter-block__btn">Subscribe</button>
  </form>
</div>
