{#
/**
 * @file
 * CPG Theme override for the views infinite scroll pager.
 */
#}

{% if items.next %}
<div class="cpg-view-more-container" style="text-align: center; margin-top: 3rem; margin-bottom: 3rem;">
  <ul{{ attributes.addClass('pager', 'pager--infinite-scroll') }} style="list-style: none; padding: 0;">
    <li class="pager__item">
      <a class="button cpg-subscribe-btn" style="padding: 0.8rem 2.5rem; font-size: 1.05rem; border-radius: 50px; display: inline-block; cursor: pointer; text-decoration: none;" href="{{ items.next.href }}" title="{{ 'Load more items'|t }}" rel="next">{{ options.button_text }}</a>
    </li>
  </ul>
</div>
{% endif %}
